.container {

      width: 80%;
      margin: auto;

}

header .title {
	display: flex;
	flex-direction:row;
	justify-content: space-between;
	align-items: center;
	font-size: 68px;
	text-align: center;
	margin: 0px 15px;
}

header .title button {
	border: 1px solid black;
	margin-top: 0px;
	padding: 6px 40px;
}


footer {
	margin-top: 50px;
	text-align: center;
}



.navigation {

      display: flex;
      font-size: 20px;
      margin: 15px;
      justify-content: space-evenly;

}

.navigation a {

      display: flex;
      text-decoration: none;
      color: darkgrey;

}


.title {

     margin: 20px 30px;

}

.title, h1 {

      position: absolute;
      text-align: center;
      font-size: 60px;

}


.w3-button{

      border: 1px solid black;
      padding: 2px 2px; 
      font-size: 30px;
      width: 20px;
}

.title, .image2 {

      position: relative;
      padding-left: 100px;
}


.contentSection {

      display: flex;
      

}

.Features {

      display: inline-block;
      font-size: 20px;
}

.About  {

      display: inline-block;
      font-size: 20px;

}


.middle {

      display: flex;
}


.contentSection2 {

      display: flex;
      font-size: 20px;
        
        

}


.Services {

      display: inline-block;
      line-height: 17px;
      width: 30%


}

.Products {

      display: inline-block;
	line-height: 17px;
	width: 30%




}

.Vision {

      display: inline-block;
	line-height: 15px;
	width: 30%


}

